//dark colors
$des-color-background-dark: #12171C;
$des-color-background-med: #1A1F28;
$des-color-background-light: #1F252E;
$des-color-background-darkest: #0D1114;

//text colors
$des-color-text: #F5F5F5;
$des-color-text-dark: #979797;

//main colors
$des-color-gold: #AD862E;
$des-color-gold-border: #FFCE1F;
$des-color-xp-blue: #0D8190;
$des-color-green: #357042;
$des-color-green-border: lighten(#357042, 3);

//engrams
$des-engram-common: #C3BCB4;
$des-engram-uncommon: #366F42;
$des-engram-rare: #5076A3;
$des-engram-legendary: #502E61;
$des-engram-exotic: #CEAE33;




$darker: #1A1F28;
$dark:#232936;
$dark-light: #1F252E;
$medium: #232936;
$medium-light: #979797;
$light: #FFFFFF;